@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
  }
figcaption{
  color: whitesmoke;
}
a{
    color: beige;
}
a:visited{
    color: beige;
    border-bottom: 1px solid beige;
}
  h1{
    font-size: 3rem;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: rgb(255, 255, 255);
  }
  h2{
    font-size: 2rem;
    color: rgb(255, 255, 255);
  }
  h3{
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
  }
  p{
    font-family: "Merriweather", serif;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
  }
  .site-title{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
  }
  h4{
    color: rgb(255, 255, 255);
  }
  footer{
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
  }
  
body{
    background-color: rgb(235, 240, 240);
    line-height: 1.4;
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
}

img, video{
	max-width: 100%;
	height: auto;
}

.videoWrapper {
    position: relative;
    padding-top: 25px;
    height: 0;
    clear:both;
    outline:1px solid red;
  }
  
  .videoWrapper.ratio-16-9{
      padding-bottom: 56.25%; /* 16:9 */
  }
  
  .videoWrapper.ratio-4-3{
      padding-bottom: 75%; /* 4:3 */
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }